# Ignore data and heavy files
*.pdf
*.zip
*.tar
*.tar.gz
*.tgz
*.mp4
*.mov
*.npy
*.mat
__MACOSX/
mnist_data/
data/
# Ignore environment files
.env
.venv
.conda/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
